<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>HP Helion Development Platform : Environment Variables</title>
  <link href="/css/app.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <table style="margin-top:5%;margin-left:11%;width:600px;">
    <tr>
      <td colspan="3">
        <a href="/"><img src="/icons/HP_Helion_logo.png" style="vertical-align:bottom"/>
      </td>
    </tr>
    <tr>
      <td style="width:200px">
      </td>
      <td colspan="2">
        <h1  style="horizontal-align:center"> Hello San Francisco !!</h1>
      </td>
    </tr>
      <tr>
        <td style="width:200px">
        </td>
        <td colspan="2">
          <h2>System Environment Variables</h2>
        </td>
      </tr>
      <tr>
        <td colspan="3">

          <div id="body" style="float:center">
            <%- body %>
          </div>
        </td>
      </tr>
  </table>
</body>
</html>
